<div class="row">
    <section class="col-md-8">
        <h1>Meus estabelecimentos</h1>
        <% @establishments.each do |place| %>
            
            <div class="wig-dashboard-card">
                <a href="<%=url_for(controller: "dashboard_provider", action: "show_establishment", id: place.id) %>">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="wig-establishment-picture"></div>
                        </div>
                        <div class="col-md-10">
                            <h3><%= place.name %></h3>
                        </div>
                    </div>
                </a>
            </div>
            
        <% end %>
    </section>
    <aside class="col-md-4">
        <%= link_to 'Novo estabelecimento', '/p/establishment/new', class: 'wig-button' %>
        
    </aside>
</div>