<!-- Tela de escolha de usuario -->
<%=flash_message%>
<form method="post" action="#" role="login">
    <h1>Cadastro</h1>
    <p>Escolha seu ponto de partida no WhereIGo. Não se preocupe, você poderá mudar mais tarde :)</p>
    <a class="wig-choice-link" href="/register/client">
        <div class="row wig-choice-box">
            <div class="col-sm-3">
                <%=image_tag("client-icon.png") %>
            </div>
            <div class="col-sm-9">
                <span>Eu quero encontrar bares e restaurantes</span>
            </div>
        </div>
    </a>
    <a class="wig-choice-link" href="/register/provider">
        <div class="row wig-choice-box">
            <div class="col-sm-3">
                <%=image_tag("provider-icon.png") %>
            </div>
            <div class="col-sm-9">
                <span>Eu quero divulgar o meu estabelecimento</span>
            </div>
        </div>
    </a>
</form>
