// Esquema de cores
$wig-xdarkgrey: #141414;
$wig-greatpink: #f3276d;
$wig-oddyellow: #f0b567;
$wig-lightgrey: #f0f0f0;

// outros atributos
$valor-borda: 4px;

@mixin wig-box {
    background-color: $wig-xdarkgrey;
    padding: 30px;
    margin: 15px;
    border-radius: $valor-borda;
}
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url('/assets/background-login.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: $wig-lightgrey;
}

a {
    color: $wig-greatpink;
    &:hover, &:active {
        color: $wig-greatpink;
        text-decoration: underline;
    }
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    margin: 25px 0 20px 0;
    &:before, &:after {
        content: '~';
        color: $wig-greatpink;
        margin: 8px;
    }
}

.wig-textbox {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $wig-xdarkgrey;
    background-color: $wig-lightgrey;
    background-clip: padding-box;
    border: 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: $valor-borda;

    &:focus {
        border: 1px solid $wig-oddyellow;
        outline: none;
    }
}

.wig-formlabel {
    color: $wig-lightgrey;
    text-align: left;
    margin-bottom: 0;
    margin-top: 12px;
}

.wig-button {
    color: $wig-lightgrey;
    background-color: $wig-greatpink;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: $valor-borda;
    cursor: pointer;
    width: 100%;
    //transition: all .15s ease-in-out;
    &:focus {
        border: 1px solid $wig-oddyellow;
        outline: none;
    }
    &:active {
        opacity: 0.8;
    }
}

////////////////////////////////////////////////////////////
///////////////// LOGIN ////////////////////////////////////
////////////////////////////////////////////////////////////

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-button {
    width: 100%;
    line-height: 1.5em;
}

#signup {
    @include wig-box;
    @include center;
    //margin-top: 100px;
}

#signup a {
    &:hover {
        text-decoration: none;
    }
}

#logo-signup {
    margin-bottom: 25px;
    text-align: center;
}

#form-inputs {
    margin-bottom: 30px;
}

.wig-formlinks {
    margin-top: 15px;
    text-align: center;
    color: $wig-lightgrey;
}

.wig-formlinks a {
    color: $wig-oddyellow;
}

////////////////////////////////////////////////////////////
///////////////// SIGNUP ///////////////////////////////////
////////////////////////////////////////////////////////////
.wig-choice-box {
    margin-bottom: 20px;
    padding: 6px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    color: $wig-lightgrey;
    border-radius: $valor-borda;
    &:hover {
        background-color: $wig-lightgrey;
        color: $wig-xdarkgrey;
    }
}

.wig-choice-box span {
    line-height: 1.1em;
    display: block;
    margin-top: 11px;
}

#signup h1 {
    color: $wig-lightgrey;
}
