html, body {
  height: 100%;
  margin: 0; }

.wig-body-sign {
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #f0f0f0;
  background-image: url("/assets/background-login.jpg"); }

a {
  color: #f3276d; }
  a:hover, a:active {
    color: #f3276d;
    text-decoration: underline; }

h1 {
  color: #f0f0f0;
  font-size: 1.3rem;
  text-align: center;
  margin: 25px 0 20px 0; }
  h1:before, h1:after {
    content: '~';
    color: #f3276d;
    margin: 8px; }

.wig-textbox {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 0.8em;
  line-height: 1.25;
  color: #141414;
  background-color: #f0f0f0;
  background-clip: padding-box;
  border: 0;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-radius: 4px; }
  .wig-textbox:focus {
    border: 1px solid #f0b567;
    outline: none; }

.wig-formlabel {
  color: #f0f0f0;
  text-align: left;
  margin-bottom: 0;
  margin-top: 12px;
  font-size: .8em; }

.wig-button {
  color: #f0f0f0;
  background-color: #f3276d;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; }
  .wig-button:focus {
    border: 1px solid #f0b567;
    outline: none; }
  .wig-button:active {
    opacity: 0.8; }

.wig-flash {
  background-color: #f0b567;
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: 8px;
  margin-top: 5px;
  font-size: 0.7em; }

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

#login-button {
  width: 100%;
  line-height: 1.5em; }

#signup {
  background-color: #141414;
  padding: 30px;
  margin: 15px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto; }

#signup a:hover {
  text-decoration: none; }

#logo-signup {
  margin-bottom: 25px;
  text-align: center; }

#form-inputs {
  margin-bottom: 30px; }

.wig-formlinks {
  margin-top: 15px;
  text-align: center;
  color: #f0f0f0; }

.wig-formlinks a {
  color: #f0b567; }

.wig-choice-box {
  margin-bottom: 20px;
  padding: 6px;
  transition: all .15s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  color: #f0f0f0;
  border-radius: 4px; }
  .wig-choice-box:hover {
    background-color: #f0f0f0;
    color: #141414; }

.wig-choice-box span {
  line-height: 1.1em;
  display: block;
  margin-top: 11px; }

#signup h1 {
  color: #f0f0f0; }

.turbolinks-progress-bar {
  background-color: #f3276d; }

.wig-body-homepage {
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #f0f0f0;
  background-image: url("/assets/background-homepage.jpg");
  color: #f0f0f0; }

.wig-registerbox-homepage {
  padding: 15px;
  margin: 0; }

#logo-homepage {
  display: block;
  margin-bottom: 40px; }

.wig-flex-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1000px; }

.wig-navbar-homepage {
  background-color: rgba(0, 0, 0, 0);
  transition: all .2s; }

.wig-navbar-homepage-active {
  background-color: rgba(0, 0, 0, 0.85);
  transition: all .2; }

.wig-navbar-container-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 66px; }

.wig-navbar-right {
  flex-basis: 0; }

.wig-navbar-logo {
  opacity: 0;
  transition: all .2s;
  width: 122px; }

.wig-navbar-logo-active {
  transition: all .2s;
  opacity: 1;
  width: 122px;
  top: 0; }

.wig-homepage-title {
  color: #fff;
  font-size: 3em;
  font-weight: 500;
  line-height: .8em; }

.wig-homepage-message {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 200;
  /* line-height: 1.2em; */
  display: block; }

.wig-about {
  background-color: rgba(255, 255, 255, 0.95);
  /*height: 100vh;*/ }

.wig-flex-about {
  justify-content: center;
  align-items: center;
  padding: 80px; }

.wig-about h2 {
  font-size: 1.3em;
  font-weight: 500;
  color: #141414;
  margin-top: 34px; }

.wig-about p {
  color: #141414; }

.wig-about-item {
  text-align: center; }

.wig-team {
  background-color: #141414;
  color: #f0f0f0; }

.wig-flex-team {
  justify-content: center;
  align-items: center;
  padding: 40px; }
  .wig-flex-team h1 {
    color: #f0f0f0;
    text-align: center;
    font-size: 1.8em;
    margin: 40px;
    width: 100%; }
    .wig-flex-team h1:before, .wig-flex-team h1:after {
      content: '~';
      color: #f3276d;
      font-weight: 200;
      margin: 10px; }

.wig-team-member {
  text-align: center; }
  .wig-team-member h2 {
    font-size: 1.3em;
    margin-bottom: 0; }
  .wig-team-member p {
    font-size: .9em; }
  .wig-team-member a {
    color: #f0b567; }
    .wig-team-member a:hover {
      text-decoration: underline;
      color: #f0b567; }
    .wig-team-member a:active {
      color: #f3276d; }

.wig-team-pic {
  width: 120px;
  border-radius: 47%;
  border: 5px solid #ef4471;
  margin: 30px; }

.wig-footer {
  color: #f0f0f0;
  text-align: center;
  margin-top: 15px;
  font-size: .9em; }

.wig-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #141414;
  font-size: .9em; }
  .wig-navbar a {
    color: #f0f0f0; }
    .wig-navbar a:hover, .wig-navbar a:active {
      color: #f0b567; }

.wig-navbar-brand {
  width: 92px; }

.wig-search {
  max-width: auto;
  width: 425px !important; }

.wig-dropdown {
  font-size: .9em;
  font-weight: 200; }
  .wig-dropdown a {
    color: #141414; }
    .wig-dropdown a:hover, .wig-dropdown a:active {
      color: #f3276d; }

.wig-userpic {
  background-color: #f3276d;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px; }

.wig-sidebar {
  background-color: #f3276d;
  max-width: 65px;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  border-right: 1px solid #eee; }
  .wig-sidebar i {
    color: #f0f0f0;
    font-size: 2em; }

.wig-sidebar-icon {
  text-align: center; }

/*# sourceMappingURL=wig.css.map */
